<ion-view style="" id="page2" title="Home Tab Default Page(首页)">
  <ion-nav-buttons class="has-header" side="right">
    <button class="button button-icon icon No Icon" ui-sref="editCardPage">发帖</button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true" >
    <div id="homeTabDefaultPage-card" class="list card" ng-repeat="card in cards">
        <div class="item item-avatar">
          <img src="http://www.runoob.com/try/demo_source/mcfly.jpg">
          <h2>{{card.name}}</h2>
          <p>{{card.editDate}}</p>
        </div>

        <div class="item item-body"  ui-sref="viewCardPage">
          <p>{{card.title}}</p>
          <img class="full-image" style="height:20%; width:100%" src="http://www.runoob.com/try/demo_source/delorean.jpg">
          <p>
            <a href="#" class="subdued">{{card.likeNum}} 喜欢</a>
            <a href="#" class="subdued">{{card.commentNum}} 评论</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#"  style="color:{{color}}">
            <i class="icon ion-thumbsup"></i>
            喜欢
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            评论
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            分享
          </a>
        </div>
    </div>

  </ion-content>
</ion-view>