<ion-view style="" id="page5" title="Login Page（登录）"  >
  <ion-content class="has-header" scroll="false" padding="true" >
    <form class="list" id="loginPage-form1">
      <div style="height: 40px;" class="spacer"></div>
        <ion-list class="manual-list-fullwidth" id="loginPage-list3">
            <label name="account" id="loginPage-input1" class="item item-input">
              <span class="input-label">账号</span>
              <input placeholder="手机号/邮箱" type="text" ng-model="$parent.user.phonenumber" >
            </label>
            <label name="password" id="loginPage-input2" class="item item-input">
              <span class="input-label">密码</span>
              <input placeholder="请输入密码" type="password" ng-model="$parent.user.password">
            </label>
        </ion-list>
        <div style="width: 300px; height: 10px;" class="spacer"></div>
        <div class="show-list-numbers-and-dots" style="text-align:center;" id="loginPage-markdown5">
            <p style="margin-top:0px;color:#FF0000;font-size:16px;" ng-init="isLoginFailure=false" ng-show="isLoginFailure">用户名或密码不正确！</p>
        </div>
        <div style="width: 300px; height: 20px;" class="spacer"></div>
        <button class="button button-positive  button-block" id="loginPage-button3" ng-click="login()">登录</button>
        <a class="button button-positive  button-block button-clear" id="loginPage-button4" ui-sref="signupPage">注册</a>
    </form>
  </ion-content>
</ion-view>