<ion-view style="" id="page1" title="Tabs Controller">
  <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable tabs-icon-top">
    <ion-tab id="tabsController-tab1" title="首页" icon="ion-home" href="#/tabs-controller/home-tab-default-page">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab id="tabsController-tab2" title="发现" icon="ion-social-buffer" href="#/tabs-controller/find-tab-default-page">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab id="tabsController-tab3" title="我的" icon="ion-android-person" ui-sref="tabsController.mineTabDefaultPage" >
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>