<ion-view style="" id="page7" title="User Info Page（个人信息）">
  <ion-content class="has-header" padding="true" ng-controller="userInfoPageCtrl">
    <ion-list class="manual-list-fullwidth" id="userInfoPage-list5">
      <ion-item style="" id="userInfoPage-list-item6" class="item-icon-right">头像
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item style="" id="userInfoPage-list-item7" class="item-icon-right">名字
        <span class="item-note">{{user.username}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item style="" id="userInfoPage-list-item10" class="item-icon-right">性别
        <span class="item-note">{{user.sex}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item style="" id="userInfoPage-list-item11" class="item-icon-right">地区
        <span class="item-note">{{user.area}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item style="" id="userInfoPage-list-item12" class="item-icon-right">学历
        <span class="item-note">{{user.education}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>